:root {
  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);

  --color-gray-500: #6B6B6B;
  --color-gray-950: #111111;

  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Typography */
  --font-primary: "Figtree", sans-serif;

  --font-base: 1.6rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-lg: 2rem;
  --font-xl: 2.4rem;

  --font-medium: 500;
  --font-extrabold: 800;

  --leading-normal: 1.5;
  --tracking-normal: 0em;

  /* Spacings */
  --spacing-xs: .4rem;
  --spacing-sm: .8rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 2.4rem;
}

/* CSS Minimal Reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: var(--leading-normal);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
